<div id="photoset">
  <div id="info"style="width:25%;margin:20px;float:left">
    <strong>Photoset <%= @photoset.title %></strong>
    <p><%= @photoset.description %></p>
  </div>
  <div style="width:75%">
  <% unless @photoset.photos.blank? %>
    <% for photo in @photoset.photos %>
      <%= link_to image_tag(url_for_image_column(photo, "image", :name =>"tiny")), 
                picto_photo_url(photo), 
                {:title => photo.title} %>
    <% end %>
  <% else %>
    No photos in this photoset yet. 
  <% end %>
  </div>
</div>