<div id="photoset">
  <div id="info"style="width:25%;margin:20px;float:left">
    <strong>Tag <%= @tag %></strong>
    <p><%= @user.name unless @user.nil? %></p>
  </div>
  <div style="width:75%">
  <% unless @photos.blank? %>
    <% for photo in @photos %>
      <%= link_to image_tag(url_for_image_column(photo, "image", :name =>"tiny")), 
                picto_photo_url(photo), 
                {:title => photo.title} %>
    <% end %>
  <% else %>
    No photos with this tag yet. 
  <% end %>
  </div>
</div>